@using System;
@using Entities;
@using Users.BLL;
@using System.IO;
@using System.Text.RegularExpressions;
@{
    Layout = "~/Pages/_Mainlayout.cshtml";

    UsersManager myStorage = new UsersManager();
    byte[] myByte = null;
    WebImage avatar = null, photo = null;
    string pattern = @"([a-z0-9_-]+\.)*[a-z0-9_-]+@[a-z0-9_-]+(\.[a-z0-9_-]+)*\.[a-z]{2,6}";
    Regex rgx = new Regex(pattern);
    string EmailError = null;

    if (IsPost)
    {
        string name = Request["Name"];
        if (name != null && name != "")
        {
            myStorage.EditName(User.Identity.Name.ToString(), name);
        }

        string surame = Request["Surame"];
        if (surame != null && surame != "")
        {
            myStorage.EditSurname(User.Identity.Name.ToString(), surame);
        }

        string status = Request["Status"];
        if (status != null && status != "")
        {
            myStorage.EditStatus(User.Identity.Name.ToString(), status);
        }

        string email = Request["Email"];
        if (email != null && email != "")
        {
            if (rgx.IsMatch(email))
            {
                myStorage.EditEmail(User.Identity.Name.ToString(), email);
            }
            else
            {
                EmailError = "Ivalid email!";
            }
        }

        DateTime.TryParse(Request["DateOfBirth"], out DateTime newDateofbirth);
        if (newDateofbirth > new DateTime(1900, 01, 01))
        {
            myStorage.EditDateOfBirth(User.Identity.Name.ToString(), newDateofbirth);
        }

        photo = WebImage.GetImageFromRequest("Photo");
        string title = Request["Title"];
        if (photo != null && title != "" && title != null)
        {
            MemoryStream memoryStream = new MemoryStream();
            myByte = photo.GetBytes();
            myStorage.AddPhoto(User.Identity.Name.ToString(), myByte, title);
            photo = null;
            title = null;
        }

        avatar = WebImage.GetImageFromRequest("Avatar");
        if (avatar != null)
        {
            MemoryStream memoryStream = new MemoryStream();
            myByte = avatar.GetBytes();
            myStorage.EditAvatar(User.Identity.Name.ToString(), myByte);
            avatar = null;
        }
    }
}


<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <style>
        .myButtonDiv {
            background-color: white;
            margin: 3px;
            width: auto;
            height: auto;
            border: 1px solid transparent;
            border-radius: 2px;
            box-shadow: 0 0 5px rgba(0,0,0,0.2);
        }

            .myButtonDiv td {
            }
    </style>
</head>
@if (EmailError != null)
{
    <div class="Error">@EmailError</div>
    EmailError = null;
}
<div class="myButtonDiv">
    <form method="post" class="ButtonInDiv">
        <table>
            <tr>
                <td><label for="Name">Name:</label></td>
                <td><input type="text" name="Name" id="Name" maxlength="50" /></td>
                <td><button class="myButton_1"> Edit Name</button></td>
            </tr>
        </table>
    </form>
    <form method="post" class="ButtonInDiv">
        <table>
            <tr>
                <td><label for="Surame">Surame:</label></td>
                <td><input type="text" name="Surame" id="Surame" maxlength="50" /></td>
                <td><button class="myButton_1"> Edit Surame</button></td>
            </tr>
        </table>
    </form>
    <form method="post" class="ButtonInDiv">
        <table>
            <tr>
                <td><label for="DateOfBirth">Date Of Birth:</label></td>
                <td><input type="date" name="DateOfBirth" id="DateOfBirth" /></td>
                <td><button class="myButton_1"> Edit Date of Birth</button></td>
            </tr>
        </table>
    </form>
    <form method="post" class="ButtonInDiv">
        <table>
            <tr>
                <td><label for="Status">Status:</label></td>
                <td><input type="text" name="Status" id="Status" maxlength="100" /></td>
                <td><button class="myButton_1"> Edit Status</button></td>
            </tr>
        </table>
    </form>
    <form method="post" class="ButtonInDiv">
        <table>
            <tr>
                <td><label for="Email">Email:</label></td>
                <td><input type="text" name="Email" id="Email" maxlength="50" /></td>
                <td><button class="myButton_1"> Edit Email</button></td>
            </tr>
        </table>
    </form>
    <form action="" method="post" class="ButtonInDiv" enctype="multipart/form-data">
        <table>
            <tr>
                <td><label for="Avatar">Avatar:</label></td>
                <td><input type="file" name="Avatar" value="Select file" accept="image/*" style="width: 115px;" /></td>
                <td><button class="myButton_3"> Edit Avatar </button></td>
            </tr>
        </table>
    </form>
    <form action="" method="post" class="ButtonInDiv" enctype="multipart/form-data">
        <table>
            <tr>
                <td><label for="Photo">Photo:</label></td>
                <td><input type="text" name="Title" id="Title" value="Enter image description" /></td>
                <td><input type="file" name="Photo" value="Select file" accept="image/*" style="width: 115px;" /></td>
                <td><button class="myButton_3"> Add Photo </button></td>
            </tr>
        </table>
    </form>
</div>
